.col-xs-8, .col-xs-4{

	border: 1px solid black;
	color: black;
}

*{

	margin: 0;
	padding: 0;
}

body{

	background-color: #F7F7F7;
	color: black;
	font-family: 'Sintony', sans-serif;

}

.title {
	margin: 0;
	padding: 0;
	margin-left: 80px;
	background-color: #486061;
}

.title  h1 {

	font-size: 56px;	
}

/****** Sidebar Nav Menu Setup *******/
nav {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: #6F8A8B;
  transform: translate3d(-200px, 0, 0);
  transition: transform 0.4s ease;
}

.active-nav nav {
  transform: translate3d(0,0,0);
}

.per {

	text-decoration: none;
	color: black;
	font-size: 56px;
	text-align: center;
	vertical-align: auto;

}

.per:hover {

	text-decoration: none;
	color: white;
}

nav ul {
  list-style: none;
  margin-top:250px;
}

nav ul li a{
  text-decoration: none;
  display: block;
  text-align: center;
  color: #fff;
  padding: 10px 0;
}

.nav-toggle-btn {
  display: block;
  position: absolute;
  left:200px;
  width: 60px;
  height: 100px;
  background-color: #C9D0D0;
}

.content {
  transition: transform .4s ease;
}

.indent {
	padding-top: 9px;
	text-align: center;
}

.active-nav .content{
  transform: translate3d(200px, 0, 0);
}
/** End Navbar setup **/


